{{!< layout}}
<div id="page">
  <section id="content">
    <header class="aui-page-header">
      <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
          <h2>Example board configuration page</h2>
          <p id="custom-message">This is an example configuration page for board ID: {{id}} with board type: {{type}}.</p>
        </div>
      </div>
    </header>
  </section>
</div>