{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Hello {{fullname}}!</h1>

      <p class="subtitle">Welcome to {{title}}</p>
    </div>
  </div>
</header>
<button id="dialog-show-button" class="aui-button">Show dialog</button>
<a></a>
<section id="demo-dialog" class="aui-dialog2 aui-dialog2-small aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Captain...</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">
        <p>We've detected debris of some sort in a loose orbit.</p>
        <p>I suggest we beam a section aboard for analysis...</p>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="dialog-submit-button" class="aui-button aui-button-primary">Make it so</button>
        </div>
    </footer>
</section>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<script type="text/javascript">
  AJS.$(document).ready(function () {
    $("#dialog-show-button").click(function (e) {
      AP.dialog.create({
        key: 'my-dialog',
        chrome: true,
        header: 'Sample Dialog'
      }).on("close", function (closeEventData) {
        if (closeEventData && closeEventData.saved) {
          AJS.flag({
            close: 'never',
            type: 'info',
            body: 'Reloading form...'
          });
          location.reload();
        }
      });
      /*
      console.log("test");
      e.preventDefault();
      return AJS.$.ajax({
        type: 'GET',
        timeout: 30000,
        contentType: 'application/json',
        url: '/dialog'
      }).done(function (res, textStatus) {
        AJS.flag({
          close: 'auto',
          type: 'success',
          body: 'Sample Dialog.'
        });
        setTimeout(function () {
            // we manually close the dialog on result of save logic
            AP.dialog.close();
        }, 2500);
      })
      */
    });
  });
  /*
  $(document).ready(function () {
    $("#dialog-show-button").click(function (e) {
      e.preventDefault();
      AJS.dialog2("#demo-dialog").show();
    });
  });
  */
</script>
