{{!< layout}}
<h1>Project Page!</h1>
<p>Project Key: {{projectKey}}</p>
<p>Project Id: {{projectId}}</p>
<button id="dialog-show-button" class="aui-button">Show dialog</button>

<section id="demo-dialog" class="aui-dialog2 aui-dialog2-small aui-layer" role="dialog" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Captain...</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">
        <p>We've detected debris of some sort in a loose orbit.</p>
        <p>I suggest we beam a section aboard for analysis...</p>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="dialog-submit-button" class="aui-button aui-button-primary">Make it so</button>
        </div>
    </footer>
</section>
<script type="text/template" id="template">
    <%= content %>
</script>
<div id="output"></div>

<script type="text/javascript">
    var templateContents = $("#template").html();
    var popupTemplate = _.template(templateContents);
    var rendered = popupTemplate({
            content: "Hello!"
        });

    $("#output").html(rendered);
</script>
